  <aside id="zan_hotest_posts-2">
    <div class="panel panel-zan hot hidden-xs">
      <div class="panel-heading">

        <i class="fa fa-file"></i>发帖 <i class="fa fa-times-circle panel-remove"></i> <i class="fa fa-chevron-circle-up panel-toggle"></i>

      </div>

      <div style="margin: 20px">
      <%= render 'form' %>
      </div>
    </div>
  </aside>
