
/*******************************
            Global
*******************************/

/*--------------
      Demo
---------------*/
html, body {
    height: 100%;
    font-size: 15px;
}


#sink ::-webkit-input-placeholder { color:#1b1c1d; }
#sink ::-moz-placeholder { color:#1b1c1d; } /* firefox 19+ */
#sink :-ms-input-placeholder { color:#1b1c1d; } /* ie */
#sink input:-moz-placeholder { color:#1b1c1d; }
#sink {
    #background-color: #cce2ff;
    #margin-top: 20px !important;
}

#mymenu {
    margin-left: 450px;
}

pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

#login {
    margin-left: 300px;
    margin-right: 300px;
}
#myHeader {
	#background-color: #FFFFFF;
}

#sink {
   background-color: #F7F7F7;
}

#sink .demo.container {
  width: 1160px;
  margin: 0px auto;
}

#sink .demo.container .example {
  padding: 2em 0em;
  margin: 2em 0em;
  border-top: 1px solid #DDD;
}

#sink .demo h4 {
  font-size: 1.5em;
  margin: 2em 0em 1em;
}
#sink .demo.container .button.demo > .buttons,
#sink .demo.container .button.demo > .button,
#sink .demo.container .button.demo > .segment > .button {
  margin-bottom: 0.5em;
}
#sink .demo.container h4:first-child {
  font-weight: bold !important;
  margin: 0em 0em 1em !important;
}
#sink .demo.container .example:first-child {
  margin-top: 0;
  padding-top: 0;
}
#sink .demo.container .segment.example {
  z-index: 1;
}
#sink .demo.container .ui.label:not(.empty) {
  margin-bottom: 1em;
}
#sink .demo.container .segment .ui.label {
  margin-bottom: 0em;
}

#myTitle {
    color:#1b1c1d !important;
}
