<div class="ui inverted black  segment">
<div class="ui center aligned grid" style="margin-top: 100px">
  <div class="column"   >
    <p class="copyright">
      Rails China 是中国 Rails 社区，由众多爱好者共同维护，致力于构建完善的 Rails 中文社区。 <div class="ui facebook button">
    <i class="facebook icon"></i>
    Facebook
  </div>
    <div class="ui twitter button">
      <i class="twitter icon"></i>
      Twitter
    </div>
    <div class="ui google plus button">
      <i class="google plus icon"></i>
      Google Plus
    </div>
    </p>
  </div>
</div>
</div>