<!DOCTYPE html>
<html>
<head>
  <title>Wilson's BLog</title>
  <meta property="qc:admins" content="771157112437632477605273510063757" />
  <meta property="wb:webmaster" content="edd4773606fbeece" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="home blog nav-fixed">


<div id="zan-bodyer">
  <div class="container">

    <div class="row">
      <div  class="col-md-4 col-sm-offset-4">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
